/* RESET */
*{
	padding: 0;
	margin: 0;
}
	
	/* BTN GERAL */
	.btn{
		background: none;
		border: solid 1px transparent;
		border-radius: 5px;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		padding: 6px 12px;
		text-decoration: none;
	}

		.btn i{
			margin-right: 5px;
		}
	
	/* BTN COLORES */
	.btn-primary{
		border-color: #2E8B57;
		color: #3CB371;
		transition: background 0.3s linear 0s;
	}

		.btn-primary:hover{
			background: #2E8B57;
			border-color: #287A4B;
			color: #ffffff;
		}
